node_modules
dist
.firebase
.env
.env.local
.env.*.local
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log
*.local
coverage
*.tsbuildinfo
vite.config.js
vite.config.d.ts
tailwind.config.js
tailwind.config.d.ts
.DS_Store
Thumbs.db
service-account.json
